In [1]:
# Adding needed libraries and reading data
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import ElasticNet, Lasso,  BayesianRidge, LassoLarsIC
from sklearn.ensemble import RandomForestRegressor,  GradientBoostingRegressor
from sklearn.kernel_ridge import KernelRidge
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import RobustScaler
from sklearn.base import BaseEstimator, TransformerMixin, RegressorMixin, clone
from sklearn.model_selection import KFold, cross_val_score, train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.utils import shuffle

from xgboost.sklearn import XGBRegressor

%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

/home/maviator/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [69]:
train = pd.read_csv("../input/sales_train_v2.csv")
test = pd.read_csv("../input/test.csv")
items = pd.read_csv("../input/items.csv")
categories = pd.read_csv("../input/item_categories.csv")

print (train.shape, test.shape, items.shape, categories.shape)

((2935849, 6), (214200, 3), (22170, 3), (84, 2))

In [70]:
train.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [71]:
test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [72]:
items.head()

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [73]:
categories.head()

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4

## Aggregating sales by month

In [74]:
train.date_block_num.describe()

count    2.935849e+06
mean     1.456991e+01
std      9.422988e+00
min      0.000000e+00
25%      7.000000e+00
50%      1.400000e+01
75%      2.300000e+01
max      3.300000e+01
Name: date_block_num, dtype: float64

In [92]:
last_month_sales = train.loc[train.date_block_num == 33]
last_month_sales.reset_index(inplace=True)
print last_month_sales.shape
last_month_sales.head()

(53514, 7)

,index,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
0,2882335,23.10.2015,33,45,13315,649.0,1.0
1,2882336,05.10.2015,33,45,13880,229.0,1.0
2,2882337,02.10.2015,33,45,13881,659.0,1.0
3,2882338,12.10.2015,33,45,13881,659.0,1.0
4,2882339,04.10.2015,33,45,13923,169.0,1.0

In [93]:
last_month_sales.pop('date')
last_month_sales.pop('date_block_num')
last_month_sales.pop('item_price')
last_month_sales.pop('index')
last_month_sales.head()

   shop_id  item_id  item_cnt_day
0       45    13315           1.0
1       45    13880           1.0
2       45    13881           1.0
3       45    13881           1.0
4       45    13923           1.0

In [94]:
last_month_sales = last_month_sales.groupby(['shop_id', 'item_id'], as_index=False).agg({'item_cnt_day':sum})

In [95]:
#last_month_sales['total'] = last_month_sales.groupby(['shop_id', 'item_id'])['item_cnt_day'].transform('sum')

In [96]:
print last_month_sales.shape
last_month_sales.head()

(31531, 3)

   shop_id  item_id  item_cnt_day
0        2       31           1.0
1        2      486           3.0
2        2      787           1.0
3        2      794           1.0
4        2      968           1.0

In [57]:
#last_month_sales.drop_duplicates(subset=['shop_id', 'item_id'], inplace=True)

In [99]:
print last_month_sales.shape
last_month_sales.head()

(31531, 3)

   shop_id  item_id  item_cnt_day
0        2       31           1.0
1        2      486           3.0
2        2      787           1.0
3        2      794           1.0
4        2      968           1.0

In [59]:
test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [100]:
last_month_sales['total'] = last_month_sales['item_cnt_day']
last_month_sales.head()

   shop_id  item_id  item_cnt_day  total
0        2       31           1.0    1.0
1        2      486           3.0    3.0
2        2      787           1.0    1.0
3        2      794           1.0    1.0
4        2      968           1.0    1.0

In [101]:
t = last_month_sales.loc[(last_month_sales.shop_id == 45) & (last_month_sales.item_id==13881)]

In [102]:
t.total.values[0]

2.0

In [103]:
test_y = np.zeros(shape=test.shape[0])
print test_y.shape

(214200,)

In [104]:
print test.shape[0]
for i in range(test.shape[0]):
    id0 = test['ID'][i]
    shop_id0 = test['shop_id'][i]
    item_id0 = test['item_id'][i]
    #print id0, shop_id0, item_id0
    if shop_id0 in last_month_sales.shop_id:
        possibles = last_month_sales.loc[last_month_sales.shop_id == shop_id0]
        if item_id0 in possibles.item_id: 
            t = possibles.loc[possibles.item_id==item_id0]
            if t.shape[0] > 0:
                test_y[id0] = t.total.values[0]
            else:
                test_y[id0] = 0.0
        else:
            test_y[id0] = 0.0
    else:
        test_y[id0] = 0.0

214200

In [105]:
test_id = test.ID
test_submit = pd.DataFrame({'ID': test_id, 'item_cnt_month': test_y})

In [106]:
test_submit.describe()

                  ID  item_cnt_month
count  214200.000000   214200.000000
mean   107099.500000        0.012124
std     61834.358168        0.994397
min         0.000000        0.000000
25%     53549.750000        0.000000
50%    107099.500000        0.000000
75%    160649.250000        0.000000
max    214199.000000      446.000000

In [107]:
test_submit.item_cnt_month[test_submit.item_cnt_month > 20] = 20
test_submit.item_cnt_month[test_submit.item_cnt_month < 0] = 0

In [108]:
test_submit.describe()

                  ID  item_cnt_month
count  214200.000000   214200.000000
mean   107099.500000        0.009935
std     61834.358168        0.226809
min         0.000000        0.000000
25%     53549.750000        0.000000
50%    107099.500000        0.000000
75%    160649.250000        0.000000
max    214199.000000       20.000000

In [109]:
print test_submit.shape
test_submit.to_csv('last_month_sales.csv', index=False)
test_submit.head()

(214200, 2)

   ID  item_cnt_month
0   0             0.0
1   1             0.0
2   2             0.0
3   3             0.0
4   4             0.0