In [1]:
%store

Stored variables and their in-db values:
__importClassification             -> IPython.macro.Macro(u"# Handle table-like data and
__importRegression                 -> IPython.macro.Macro(u"# Handle table-like data and

In [2]:
%store -r __importRegression

In [3]:
__importRegression

/home/maviator/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [4]:
train = pd.read_csv("../input/train.csv")

print (train.shape)

(2935849, 6)

In [17]:
def train_test_month_split(train, endMonth):
    train_split = train[train.date_block_num < endMonth]
    test_split = train[train.date_block_num == endMonth]
    
    test_split.drop(['date', 'date_block_num', 'item_price'], axis=1, inplace=True)
    test_split = test_split.groupby(['shop_id', 'item_id'], as_index=False).agg({'item_cnt_day':sum})
    test_split.drop_duplicates(inplace=True)
    
    fnameTest = '../input/validation/test_' + str(endMonth) + '.csv'
    fnameTrain = '../input/validation/train_' + str(endMonth) + '.csv'
    
    test_split.to_csv(fnameTest, index=False)
    train_split.to_csv(fnameTrain, index=False)

In [18]:
train_test_month_split(train, 33)
train_test_month_split(train, 32)
train_test_month_split(train, 31)
train_test_month_split(train, 30)
train_test_month_split(train, 29)

/home/maviator/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [20]:
train = pd.read_csv('../input/validation/train_30.csv')
test = pd.read_csv('../input/validation/test_30.csv')

print (train.shape, test.shape)

((2719169, 6), (33527, 3))

In [21]:
train.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [22]:
test.head()

   shop_id  item_id  item_cnt_day
0        2       33           1.0
1        2      482           1.0
2        2      686           1.0
3        2      687           1.0
4        2      948           2.0